[2021-03-10 18:52] D3ADSH0T25 opened #1 "Update Requirements.txt"
Go through the python codes in the main branch and find out which libraries are used in this project. Create requirements.txt in the GSSoC21 branch and list them out in it.

[2021-03-10 19:30] shankhanil007 opened #2 "Website for Screenshot Taker"
Make a simple website for the screenshot taker product. There should be a home page comprising of the product description, photos of the developers and project video. For details of the product, one can refer to the README file in the main branch.

[2021-03-10 19:38] shankhanil007 opened #3 "API for automatic email response"
The website in issue #2 will have a form, where a user will submit his/her email address. We need to send an automatic response to their email address with the google drive link of our product.

Contributors can make a simple demo of this feature. If it is working properly, we will then add it to the website developed in issue #2

[2021-03-10 20:04] balarka135 commented on #1
hello, I can fix this issue.
Please assign me this issue

[2021-03-10 20:44] Subhangini commented on #2
I would like to work on this issue .

[2021-03-11 03:18] GrayFlash commented on #1
@balarka135 get started ASAP.. It will be great if you set up local environment using venv or any configuration you want and try running the script on main branch, that will give you good idea of dependencies that you need to pip install. If you face any problems, contact us.

[2021-03-11 03:22] GrayFlash commented on #2
@Subhangini I am assigning you this issue, please update your status in atleast 48 hours so we know if you are stuck or have any doubt.

[2021-03-11 03:47] abhishek7997 commented on #3
@shankhanil007
Please assign it to me. I have no experience in API, but I will try my best.
Also, I am a GSSOC 21 participant.

[2021-03-11 03:51] Abhi-1313 commented on #3
@shankhanil007  assign me,i am gssoc 21 participant

[2021-03-11 04:04] Subhangini commented on #2
I will create a website using html , css and js  but can you provide a blueprint of the website like how you want your website to look like.

which product are you talking about? Is there any deadline to submit PR for this issue?

[2021-03-11 04:07] GrayFlash opened #4 "Beginners Contibuting Guidelines."
While we are setting up guidelines for contributors, we will wish a participant to set-up the dev environment locally. It should be one of the first things you do with any repository you want to contribute in.

It involves the steps from :
* forking and cloning repository locally
* exploring branches, here main has our sample code and gssoc21 is a clean branch which we will use throughout the deve

[2021-03-11 04:15] Anshoo-Rajput commented on #3
@abhishek7997 you can start working on this issue. Also, try to set up a project on your local machine so that you can get to know more about the working. And do let us know if you face any problems.

[2021-03-11 04:17] GrayFlash commented on #2
For this particular issue, you need to just make a simple HTML page that has a form, a navigation bar, and style it a bit with CSS such that it is aligned properly. Regarding designs and the exact layout and text we need it to be filled, we will create separate issues of varying levels so you can follow up those post completion of this issue. Currently, you are free for the basic design.

We will

[2021-03-11 04:19] GrayFlash commented on #3
@Abhi-1313 get started with issue #4 if you want.

[2021-03-11 04:40] Anurag-bhatia commented on #4
I would like to contribute on this issue . Kindly assign me this issue under the GSSOC 21.

[2021-03-11 04:50] GrayFlash commented on #4
@Anurag-bhatia start setting up the environment, I have asked someone in #3  for doing the same, though if you are done earlier than him and he does reply by then, I will assign it to you.

Setting up the environment is the first step though, so get started.

[2021-03-11 05:00] Subhangini commented on #2
Ok , So basically i have to make a basic website in which i have to display what our project is about . And can you please tell me , is there any deadline like i have to complete this issue till this day ?

[2021-03-11 05:19] GrayFlash commented on #2
Currently, we don't want you to add any info on the about page, just implement a basic form in the home-page and a navbar with Home, About Us, Contact US options, and create a structure for the website, with lorem ipsum. Design and content will go on later. It will be a single-page application, so just a heading for these will be sufficient at the moment.

Try completing it in 48 hours, I guess it

[2021-03-11 05:27] balarka135 commented on #1
okay, Thank you

[2021-03-11 05:28] Abhi-1313 commented on #4
@GrayFlash assign me this

[2021-03-11 05:33] Anurag-bhatia commented on #4
@GrayFlash I setup it up in my local system , could you assign me now , so i can start working.

[2021-03-11 05:52] shankhanil007 commented on #2
@Subhangini I am providing few more details the website should comprise of :
1. Logo of our product and a brief tagline
2. Description of the product
3. About the developer's section -  Photos of the developers and links to their social handles
4. Video demo of the product - You will find the video link in the main branch of our repo.
5. Contact Us form.

[2021-03-11 05:55] GrayFlash commented on #4
I will assign this issue to @Abhi-1313 , cause He was looking for issues befor @Anurag-bhatia .

That's great, we will soon make issues for implementing of utils file written in python, so you can have a look at out code base in main branch it is a bit messy and avoid wondering about tkinter for this moment. We will need people to implement seperate utils that address the recording of audio, captu

[2021-03-11 05:57] GrayFlash commented on #4
@Anurag-bhatia if you have any suggestion after going through code base and if you want to contribute and send a pr you can create an issue.

[2021-03-12 10:14] gaulghost commented on #2
Can I also work on this issue as a participant of gssoc21?

[2021-03-12 11:19] shankhanil007 commented on #2
@Subhangini is currently working on it. Keep an eye on further web dev issues we will be posting as a follow-up to this issue.

[2021-03-12 13:52] rohank2502 opened #6 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:52] rohank2502 opened #7 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:58] GrayFlash commented on #7
You can move ahead with this issue.

[2021-03-12 14:12] GrayFlash commented on #6
@rohank2502 I'll assign you this issue, but it is currently on low priority. We wish you can focus more on env setup locally and getting development started. We feel that part is tougher and might need a little more help from our side, so do that setup first, send a status update and I'll assign this issue to you as well. If you face any difficulty ask for help.

[2021-03-12 14:34] rohan-kulkarni-25 commented on #7
Thanks !!

[2021-03-12 14:35] rohan-kulkarni-25 commented on #6
Ok I will try my best !!

[2021-03-12 19:59] #1 closed

[2021-03-13 05:31] Subhangini commented on #2
Working on this , left with few sections of the website .Can you Please increase the deadline?

[2021-03-13 07:00] shankhanil007 opened #9 "Screen Recorder using OpenCV and python."
Make a screen recorder using OpenCV and python. It should have the option to record a specific area of the screen as selected by the user. After the recording is stopped the video should be saved in "videos" folder.

See below code for reference. We encourage contributors to explore new possibilities and not just restrict themselves to our code.
https://github.com/CrewMates-Open-Source/EduHelp/blo

[2021-03-13 07:46] shankhanil007 commented on #2
Okay! But make sure you submit a PR at max by tomorrow.

[2021-03-13 08:07] shankhanil007 opened #10 "Finding whether two images are different or not"
One needs to figure out a way to determine whether two images ( of same dimensions and file format ) are different or not. You can display the %difference between the two images as a measure to determine this.

The purpose we want to achieve is that our screen recorder will continuously capture the lecture slides displayed in the selected area. But it should save only the unique screenshots and di

[2021-03-13 08:51] itsIapetus opened #11 "Add welcome bot"
I would like to add welcome bot, for new issues, new PRs, etc.
Kindly assign it to me under gssoc

[2021-03-13 09:13] AasthaRS commented on #10
We can check size of images and channels of both images by getting pixel value difference of both the images.
@shankhanil007 please assign this issue to me as a part of gssoc'21.
I want to work on it.

[2021-03-13 09:26] GrayFlash commented on #4
@Anurag-bhatia are you still looking to work on this issue?

[2021-03-13 10:23] shankhanil007 commented on #10
@AasthaRS go ahead

[2021-03-13 10:51] gaulghost commented on #10
I think we should convert the image into hsv format then analyse the pixels of bith the images. if the pixel in the one image is a 95% match with the pixel in another image, we shall pass it. So making a list of different valued pixel will tell if both images are same or not.

[2021-03-13 10:53] gaulghost commented on #10
I also want to ask if there are two images both are same, difference is only that a filter is applied to one image then shall those images be considered same or different.

[2021-03-13 10:58] Anurag-bhatia commented on #4
@GrayFlash Yes , I will do this if you assigned me.

[2021-03-13 11:03] GrayFlash commented on #4
Ok I will create a new issue with things that are missing and you complete those, @Anurag-bhatia

[2021-03-13 11:03] #4 closed

[2021-03-13 11:10] GrayFlash opened #13 "Update Starter.md to add env setup details"
### You need to clone this repo as per instruction in [Starter.md](https://github.com/CrewMates-Open-Source/EduHelp/blob/GSSoC21/Starter.md) file, and then create a venv (Virtual environment), pip install packages and then update these steps in Starter.md file. Refer [this](https://github.com/GrayFlash/carbon_footprint_estimator/blob/main/env_setup.md) if you are in doubt.

[2021-03-13 11:12] GrayFlash commented on #13
This task was expected in issue #4 but was not completed.

[2021-03-13 11:13] GrayFlash commented on #4
@Anurag-bhatia visit issue number #13 and I'll assign that to you

[2021-03-13 11:17] GrayFlash commented on #11
Go ahead, I see it as a level1 issue currently.

[2021-03-13 11:20] Anurag-bhatia commented on #13
@GrayFlash i would like to work, kindly assign me under gssoc 21.

[2021-03-13 11:26] GrayFlash commented on #10
The purspose behind this comparision between two images is that we are going to screenshot of your desktop screen while you are attending your meet, and we wish to save a screen shot only when the slide being presented in the meeting changes, So it will be great if you think accordingly.

For this issue you need to avoid changing fomat of image and consider that there are 3 channels in both images

[2021-03-13 11:30] GrayFlash commented on #10
I am afraid for our requirement this may not suffice, consider two images of two slides of a ppt on your desktop, most of the pixels are going to remain the same as only the region where presentation goes on will change and that too the presentation template mostly remains same, i.e., the same background of slides. So it will be better to hardcode a bit higher threshold.

[2021-03-13 13:29] fomalhauting commented on #9
I would like to work on this, could you assign it to me?

[2021-03-13 16:24] #7 closed

[2021-03-13 16:34] khareyash05 opened #15 "add contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
It will contain all the steps required so t

[2021-03-13 16:35] Anshoo-Rajput commented on #3
@abhishek7997 what's your status? Do let us know if you are facing any difficulties. Also, you can discuss at EduHelp discord channel in GSSoC server.

[2021-03-13 17:44] D3ADSH0T25 opened #16 "Add project description in Readme"
You can refer to this **readme** [https://github.com/CrewMates-Open-Source/EduHelp/blob/main/README.md](url) but **don't** simply copy it. We need some changes in the description like it's for all students, not only for differently-abled students. If you still have any queries, you can ask here or at the discord channel of EduHelp.

[2021-03-13 19:08] GrayFlash commented on #15
Hi, we will be more than happy if you could set up a local development environment and try understanding the project from the codebase on the ``` main ``` branch, and then try creating an issue related to implementation or improvement in the codebase. We appreciate your eagerness to contribute and will love to help you in case you are stuck, and we feel editing README is not the best way to contri

[2021-03-13 19:09] #15 closed

[2021-03-14 11:25] Subhangini commented on #16
Would like to work on this issue as a gssoc participant

[2021-03-14 11:29] nandini040 opened #18 "Issue Template missing"
would like to work on this issue

[2021-03-14 11:30] nandini040 opened #19 "Code of conduct missing"

[2021-03-14 11:30] nandini040 opened #20 "Pull request template missing"

[2021-03-14 11:31] nandini040 opened #21 "Contributing guidelines missing"

[2021-03-14 11:33] Subhangini commented on #21
I would like to work on this

[2021-03-14 11:33] Subhangini commented on #20
Would like to work on this

[2021-03-14 11:34] Subhangini commented on #19
would like to work on this

[2021-03-14 23:33] GrayFlash commented on #13
@Anurag-bhatia can you provide an update on your status? It should not be taking that long, if you facing any difficulty drop a comment here or on discord. We can even have a meet if needed.

[2021-03-15 03:54] Anshoo-Rajput commented on #16
go ahead @Subhangini

[2021-03-15 05:19] #2 closed

[2021-03-15 07:08] #13 closed

[2021-03-15 07:44] abhishek7997 commented on #3
@D3ADSH0T25 I am going to setup the project and work on it, I was busy with other projects for the past 2 days.

[2021-03-16 07:43] Subhangini commented on #16
Do I have to only add Project description or make a proper attractive Readme file with help of some gif ?

[2021-03-16 14:18] GrayFlash commented on #19
@Subhangini @nandini040 I created a separate and well-framed issue #23  for these ones, I'll share google docs and you can make a few PR's in that regard.

[2021-03-16 14:39] GrayFlash opened #23 "Complete the README.md, Contribution_Guidelines.md for new participants."
I will be adding a link to google docs after discussion with mentors and Project Admin, You have to simply refer to that doc file and add
* ~~Details about the project, i.e., AIM and Implementation in README.md. The style of README is left for your discretion.~~ Assigned to @Subhangini
* ~~Contributing_Guidelines.md needs to be created and add our suggestions and info from the remaining portion of

[2021-03-16 14:43] GrayFlash commented on #21
@Subhangini @nandini040 I created a separate and well-framed issue #23  for these ones, I'll share google docs and you can make a few PR's in that regard.

[2021-03-16 14:43] #21 closed

[2021-03-16 14:44] #19 closed

[2021-03-16 14:47] GrayFlash commented on #18
Will cover it in Contribution Guidelines, creating an issue for CI/CD that aims for python scripts will be more helpful.

[2021-03-16 14:47] #18 closed

[2021-03-16 14:47] #20 closed

[2021-03-16 16:01] Subhangini commented on #23
I would like to work on this

[2021-03-16 16:19] GrayFlash commented on #16
@subhangini Just add a brief description, we have a different issue #23 after this one.

[2021-03-16 16:25] GrayFlash commented on #23
Please refer [this](https://docs.google.com/document/d/1NgP7kcJPSz0XaIq51hJkgtHk4Pm7J58N76-_0py2DTc/edit?usp=sharing) doc file for README.md part, The Contributing Guidelines part is being worked upon.

[2021-03-16 18:26] AshuKV commented on #23
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-17 03:11] GrayFlash commented on #23
@AshuKV, Sure go ahead, with the contribution guidelines part. You need to make a Contibution_Guidelines.md file and add content from [this doc.](https://docs.google.com/document/d/1NgP7kcJPSz0XaIq51hJkgtHk4Pm7J58N76-_0py2DTc/edit)

[2021-03-17 04:46] anandhu-eng commented on #9
hello im gssoc 21 participant and python enthusiast.
please do assign it to me:)

[2021-03-17 04:48] GrayFlash commented on #9
It's been 4 days of inativity, so I'll assign it you as well @anandhu-eng

[2021-03-17 04:50] anandhu-eng commented on #9
thanks!!

[2021-03-17 05:22] Subhangini commented on #23
Can i work on this issue

[2021-03-17 05:24] Subhangini commented on #16
ok

[2021-03-17 06:24] GrayFlash commented on #23
@Subhangini you are working on a different issue on the same README file, I'll assign this one to you but make a pr for the other one first, and then move to this one.

[2021-03-17 06:45] #16 closed

[2021-03-18 04:59] Anshoo-Rajput commented on #6
@rohank2502 What's your status?

[2021-03-18 05:00] rohan-kulkarni-25 commented on #6
I am done with this but as this is low priority I don't create or IF you think to get this issue merged i will create or within 15 mins

[2021-03-18 05:03] #11 closed

[2021-03-19 04:28] Subhangini commented on #23
Do i also have to work on Contributing guidelines?

[2021-03-19 05:48] Anshoo-Rajput commented on #6
@rohank2502 Your PR will be reviewed by us and if it looks fine to us we will merge it.

[2021-03-19 07:10] GrayFlash commented on #23
@Subhangini No you need to just work on README part. @AshuKV is working on the Guidelines part.

[2021-03-19 10:55] yashasvimatta commented on #10
this can be done using structural similarity index. Can i work on this issue?

[2021-03-19 11:06] GrayFlash commented on #10
@yashasvimatta please go ahead with it.

[2021-03-19 11:07] GrayFlash commented on #10
@AasthaRS @gaulghost what is your status?? If you are stuck somewhere please discuss it here or in the discord channel.

[2021-03-19 11:07] yashasvimatta commented on #3
@D3ADSH0T25 Will the form be a google form? Can i work on creating a demo for this issue?

[2021-03-19 11:09] GrayFlash commented on #6
@rohank2502 we will merge it... no worries... If you have done some work make a PR, we do appreciate the efforts of each participant and we will add tag accordingly.

[2021-03-19 11:11] GrayFlash commented on #3
No, it will be a simple form on our website, @D3ADSH0T25 is referring to a ```<HTML>``` tag

[2021-03-19 12:32] gaulghost commented on #10
@GrayFlash I made the project in colab to identify the changes by contour menthod but it is also detecting some part of image which is same, I am trying to find a way so that I can eliminate that
Original Image
![image](https://user-images.githubusercontent.com/49186033/111779540-44008700-88dc-11eb-944a-e89372b2ae48.png)
Changed Image
![image](https://user-images.githubusercontent.com/49186033/111

[2021-03-19 13:34] VibhuRajput commented on #23
can I work on this?

[2021-03-19 13:34] VibhuRajput commented on #6
can I design a logo for this?

[2021-03-19 13:36] VibhuRajput commented on #9
can I work on this?

[2021-03-20 03:48] GrayFlash commented on #10
@gaulghost I see you are going great, and your work will be a potential up-gradation on how we did this, it will be great if you can make a folder in our repo ```Jupyter_Notebooks``` and add your notebook there, keep the file name as (your work_(GithubId)).ipynb.
Make a PR, I will merge it and it will be great if @shankhanil007 and you can have a discussion on it, cause he worked on this earlier.

[2021-03-20 03:57] GrayFlash opened #28 "Contour Method for Differentiating between slides"
@gaulghost suggested this method in issue #10 and we will like to have more discussion about it here.

Before suggesting anything, refer to these constraints:
* We make user select screen region which needs to be captured,
* you are having two images that are taken as screenshots just milliseconds apart, so they may point to the same slide or a different one,
* The purpose is to identify if the sl

[2021-03-20 03:59] GrayFlash commented on #10
@gaulghost @shankhanil007 @Apurva-tech @D3ADSH0T25 please discuss here #28.

[2021-03-20 16:31] shankhanil007 commented on #9
@VibhuRajput Go ahead. It's a level3 issue, so I am assigning multiple contributors.

[2021-03-20 16:33] shankhanil007 commented on #9
We will accept PRs if we find proper implementation. Finally, the best code will be chosen after discussion with all the mentors.

[2021-03-20 21:28] gaulghost commented on #28
Hi,
I am trying to firstly pin down the presentation area from the full window screen so that I am able reduce the amount of contours i need to deal with.
Sources for information:-
https://www.pyimagesearch.com/2017/06/19/image-difference-with-opencv-and-python/
https://www.geeksforgeeks.org/find-and-draw-contours-using-opencv-python/
![image](https://user-images.githubusercontent.com/49186033/111

[2021-03-21 11:32] prathamesh-borse commented on #23
How can I contribute to this issue under GSSoC'21 Participant?

[2021-03-21 13:50] GrayFlash commented on #23
@VibhuRajput @viraldevpb we don't need any more contributions for README's, kindly endow upon us your expertise and enthusiasm in writing scripts, working with algorithms, and help us make the world a better place.

[2021-03-21 14:35] GrayFlash commented on #28
The UI that we created earlier on Tkinter helps users select the presentation area, maybe that will be helpful for you??

I also look into the work you have shared. @shankhanil007 @D3ADSH0T25 @Apurva-tech if any one of you find it interesting feel free to get into it.

[2021-03-21 15:41] #23 closed

[2021-03-22 13:54] Anshoo-Rajput commented on #28
@gaulghost getting a presentation area is not an issue. As @GrayFlash said using Tkinter UI user can specify which area is to be monitored for capturing screenshots. If somehow we can apply this method to text or handwriting of slides then comparing 2 contour images might be helpful than just comparing pixels difference in images as most of the part in slides do not change that often.

[2021-04-01 12:04] shankhanil007 commented on #9
Contributors working on this issue @VibhuRajput and @anandhu-eng what's your status?

[2021-04-01 12:07] shankhanil007 commented on #3
@abhishek7997 please report your status ASAP. Let us know what you have implemented so far

[2021-04-01 12:46] abhishek7997 commented on #3
@shankhanil007 sorry, sir, I was unable to work on it as I had my project submission previous week.
Please un-assign the issue, because I am not able to figure out how to go about this project.\

Sorry for the incovenience.

[2021-04-06 12:22] #6 closed

[2021-04-06 12:25] shankhanil007 opened #34 "Recording system audio"
Write code in python for recording system audio. You can make use of PyAudio for the same. Do search for better options if any.

[2021-04-06 12:26] shankhanil007 opened #35 "Screen Recorder using OpenCV and python"
Make a screen recorder using OpenCV and python. It should have the option to record a specific area of the screen as selected by the user. After the recording is stopped the video should be saved in a "videos" folder.

See below code for reference. We encourage contributors to explore new possibilities and not just restrict themselves to our code.
https://github.com/CrewMates-Open-Source/EduHelp/b

[2021-04-06 12:26] #9 closed

[2021-04-06 12:29] shankhanil007 opened #36 "Speech to text module"
Write code for conversion of speech to text. Search for efficient and faster ways of performing the same. For demo purposes apply your code to a video and show us the text generated.

[2021-04-06 12:30] #3 closed

[2021-04-06 12:30] shankhanil007 opened #37 "API for automatic email response"
The website in issue #2 will have a form, where a user will submit his/her email address. We need to send an automatic response to their email address with the google drive link of our product.

Contributors can make a simple demo of this feature. If it is working properly, we will then add it to the website developed in issue #2

[2021-04-06 12:31] #10 closed

[2021-04-06 12:37] shankhanil007 opened #38 "Speech-to-Text Summarization"
Perform Speech-to-Text Summarization using suitable resources. The objective of this feature is to include an MoM feature in our application that can summarize the contents of the meeting.

We would encourage the contributors not to focus on the accuracy of summarization at the beginning. You can try improving it over the course of time.

[2021-04-06 12:46] shankhanil007 opened #39 "Creating a desktop application"
Our application originally used tkinter GUI. But tkinter is not that efficient for creating desktop applications. So we would like to move to electron.js or any other better alternative.

Contributors having experience in electron.js can try creating a desktop application for our existing application in the "main" branch of the repository.

[2021-04-06 18:00] aditi1403 opened #41 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #40.

[2021-04-07 10:30] #41 closed

[2021-04-07 15:42] Oviyabalamurugan opened #42 "Footer Enhancement"
I would like to enhance the footer by adding social media icons and by mentioning the copyrights reserved text.I am a GSSOC'21 participant. @shankhanil007 please do assign me for this issue.

[2021-04-07 16:23] Oviyabalamurugan commented on #42
![image](https://user-images.githubusercontent.com/55582676/113900510-86d2c200-97eb-11eb-8a5f-b7484c55e57f.png)
i would like to change footer part of the website.

[2021-04-07 19:47] saidrishya commented on #36
Hi, I am a participant for GSSOC 2021, can you assign this issue to me. Thank you.

[2021-04-07 19:50] saidrishya commented on #35
Hi, can you assign this issue to me. Thanks.

[2021-04-08 03:39] shankhanil007 commented on #35
@saidrishya I cannot assign you 2 issues at the same time. You can go ahead with this issue.

[2021-04-08 04:03] Oviyabalamurugan commented on #36
Hi,I want to create an efficient way for converting speech to text. @shankhanil007 can you assign me this issue.  I am a GSSoC21 participant.

[2021-04-08 04:07] Oviyabalamurugan commented on #42
Created a pull request Footer Enhancement #43

[2021-04-08 04:29] Oviyabalamurugan commented on #36
![image](https://user-images.githubusercontent.com/55582676/113968651-1eb6c700-9851-11eb-9d9e-1e5bb615efaa.png)
This is the sample code i tried out.

[2021-04-08 04:41] #42 closed

[2021-04-08 04:42] shankhanil007 commented on #36
@Oviyabalamurugan Go ahead! Remember to submit a video demo with your PR.

[2021-04-08 14:39] SnehaVeerakumar commented on #34
Can I be assigned to this ?
If I am assigned, 2 days of time is required to complete the work for this issue.

@shankhanil007

[2021-04-08 15:48] shankhanil007 commented on #34
Go ahead @SnehaVeerakumar. Do list all the packages you have used in "requirements.txt" file so that others can set up your environment properly.

[2021-04-08 15:50] shankhanil007 commented on #35
@saidrishya Do list all the packages you have used in "requirements.txt" file so that others can set up your environment properly.

[2021-04-08 15:51] shankhanil007 commented on #36
@Oviyabalamurugan Do list all the packages you have used in "requirements.txt" file so that others can set up your environment properly.

[2021-04-08 15:53] SnehaVeerakumar commented on #34
@shankhanil007 Sure and thank you for assigning.

[2021-04-08 18:58] saidrishya commented on #35
okay. when's the deadline for this.

[2021-04-08 19:03] shankhanil007 commented on #35
Try to update us about your progress by this week's end.

[2021-04-09 02:42] Oviyabalamurugan commented on #36
sure will list it.

[2021-04-09 17:40] Oviyabalamurugan commented on #36
Created a PR with essentials. PR #44.

[2021-04-10 03:34] khareyash05 opened #45 "add contributing.md"
Hi I would like to create a file contributing.md and add the following -
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 06:04] paulamib123 commented on #37
Hi!
I am a GSSOC'21 Participant and would like to work on this issue.
Could you elaborate a little bit more on this issue?

Like I have to make a flask api for this right?
And what should be the content of the email (just the link or some other content also?

[2021-04-10 06:36] shankhanil007 commented on #45
@khareyash05 We already have a file named "Contibution_Guidelines.md". Update if you want but do not create a new file. Make a PR and I will assign the necessary labels to it accordingly.

[2021-04-10 06:37] #45 closed

[2021-04-10 07:59] Oviyabalamurugan opened #46 "locally convert speech-to-text"
Speech Recognition module that locally converts speech-to-text. Please do assign me for this issue, i will work on it and provide a better solution.

[2021-04-10 09:52] khareyash05 opened #47 "addition in Contribution_Guidelines.md"
Hi I would like to add the following in Contribution_Guidelines.md
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-11 03:45] M2kishore commented on #38
Is it okay to use 3rd party API like Aylien Text Analysis, meaning cloud summarization?

[2021-04-11 14:23] SnehaVeerakumar commented on #34
I will make a PR by tomorrow.

[2021-04-11 17:31] shankhanil007 commented on #37
In "index.html" file you will see that there is a contact us form. Presently it does not have any functionality. Basically, what we want is that when a person fills the contact us form with his email id, he must automatically receive a pre-defined reply on his email with the google drive link to our product to download. This is what you have to implement. Yah you can implement it using any API.

K

[2021-04-12 06:10] paulamib123 commented on #37
Okay. Thank you :)
Can I use Flask-Mail to implement this functionality?

[2021-04-12 19:02] Anshoo-Rajput commented on #38
@M2kishore You can use it for now but try searching on how you can implement this even when one doesn't have internet connection. For now go ahead 👍

[2021-04-12 19:41] #34 closed

[2021-04-13 02:42] GrayFlash commented on #47
@khareyash05 some of these are already there in REAAME.md files, so I don't think it will be necessary to add the same things in Guidelines. You can add these topics and links in README if you want.

[2021-04-13 02:46] GrayFlash commented on #38
@M2kishore keeping a summarization using NLP will be more preferable, you can refer the ```master``` branch and see the way, I did that. Also, I believe there are lot better ways to do it than the one in the ```master``` branch, so we are surely looking forward to it.

Drawbacks of using cloud summarization will be: latency issues, and the potential cost once we wish to have any project in product

[2021-04-13 02:47] GrayFlash commented on #37
@paulamib123 it will be fine with us, you can surely go ahead with it.

[2021-04-13 02:53] M2kishore commented on #38
I'll see to it and update you with my PR

[2021-04-13 03:33] shankhanil007 commented on #38
@M2kishore Do list all the packages you use in "requirements.txt" file so that others can set up your environment properly.

[2021-04-13 03:34] shankhanil007 commented on #35
@saidrishya What's your status?

[2021-04-13 05:22] GrayFlash commented on #28
@gaulghost I see inactivity for a very long time, it will be great if you can provide some update.

[2021-04-13 06:39] M2kishore opened #49 "Invalid requirements in requirements.txt"
while pip installing the requirements.txt it gives an error

solution: The line should be commented out or removed.

[2021-04-13 06:43] M2kishore commented on #47
I found that the default branch is not master it is GSSoC21.

[2021-04-13 07:10] paulamib123 commented on #37
Thank you :)
I would need the Email-ID and Password of the sender to implement the API and also the google drive link.

[2021-04-13 19:26] Anshoo-Rajput commented on #49
@M2kishore yes! You are right. Remove all the comments and topics. And sort all the packages in alphabetical order.

[2021-04-14 04:42] khareyash05 commented on #47
@GrayFlash Created a PR, Have a look!

[2021-04-14 08:39] arpit456jain opened #52 "[Gssoc'21] Smooth Scrolling on index.html"
The scrolling on index.html is very fast I would like to make it smooth

[2021-04-14 08:43] arpit456jain opened #53 "[Gssoc'21] Enhancement in index.html"
I would like to make some enhancement on index.html

[2021-04-14 11:52] Aayush-hub opened #54 "Replace demo image with gif"
@Apurva-tech @D3ADSH0T25 The stale image in the demo part is looking odd in the Readme, so I want to replace that image with a gif ,so that contributors can see live what the project has achieved.

[2021-04-14 11:53] Aayush-hub commented on #53
@arpit456jain Can you share your ideas, what do you want to achieve?

[2021-04-14 11:57] arpit456jain commented on #53
The contact form is not in center and the. Text is not visible i will try make it better

Social media icons are static i will make them dynamic and add animation to them

Text is very big in mobile view i write some media queries for it.

[2021-04-14 11:58] arpit456jain commented on #53
There is lots of work i can do on index.html

[2021-04-14 11:58] arpit456jain commented on #53
Team section is not responsive at all

[2021-04-14 15:15] shankhanil007 commented on #37
Hey can you create an email id and password? Implement it in the API. Later on, you can transfer the credentials to me privately. I will then change it on my end.

[2021-04-14 16:21] gaulghost commented on #28
@GrayFlash Hi, when I submitted that Issue 10, I already included this feature in that one. While diffentiating beween slides, contour method was used.

[2021-04-15 07:15] #47 closed

[2021-04-15 10:53] M2kishore commented on #38
Shall i go with [this](https://towardsdatascience.com/report-is-too-long-to-read-use-nlp-to-create-a-summary-6f5f7801d355) aproach found in internet?
or
The following diagram [here](https://github.com/CrewMates-Open-Source/EduHelp/blob/1efc88a4e306d909fbc32356f6397e231d7a86b9/Assets/cosine_summariser_flow.jpeg)

[2021-04-15 11:21] paulamib123 commented on #37
@shankhanil007 Yes sure. But, please share the drive link with me.

[2021-04-15 11:36] shankhanil007 commented on #37
We haven't uploaded our application on drive yet. It's for the future. Presently, just return a text msg.

[2021-04-15 13:26] paulamib123 commented on #37
Okay sure

[2021-04-17 06:42] Oviyabalamurugan commented on #46
I have used CMU sphinx recognizer but poor accuracy can i do the PR of that so that other people also can work on the accuracy of it? @GrayFlash @shankhanil007

[2021-04-17 17:55] Anshoo-Rajput commented on #53
Sure @arpit456jain. Go ahead!

[2021-04-17 17:58] #49 closed

[2021-04-17 18:11] CMELAKKIA commented on #53
@D3ADSH0T25  @Aayush-hub  I would like to add dark mode to your page . I would align and add animation to meet the team section .If assigned I'll complete within 2 days.

[2021-04-17 18:13] arpit456jain commented on #53
@CMELAKKIA please create a new issue

[2021-04-17 18:39] arpit456jain commented on #53
@D3ADSH0T25 kindly review my PR

[2021-04-17 18:41] CMELAKKIA opened #58 "Enhancing index.html page"
I would like to add dark mode to your page . I would align and add animation to meet the team section .If assigned I'll complete within 2 days.

[2021-04-17 18:47] arpit456jain commented on #52
@shankhanil007 kindly review my PR

[2021-04-17 18:50] arpit456jain opened #60 "[Gssoc'21] Replacing the navbar"
current navbar is not responsive
I would like to replace it with bootstrap navbar which is fully responsive I will make it exactly like the current one in fact better than current one

[2021-04-17 19:10] #52 closed

[2021-04-17 19:46] arpit456jain commented on #52
@shankhanil007 I did not get any points for this please look into it and pr is also not showing in my profile

[2021-04-18 03:52] #53 closed

[2021-04-18 03:56] shankhanil007 commented on #52
![image](https://user-images.githubusercontent.com/58778597/115133720-ea4cc300-a027-11eb-800e-bd9069395f35.png)
Hey, the PR is closed so it will show under the closed PR section.  And the relevant tags are already added. You should receive the points.

[2021-04-18 04:06] shankhanil007 commented on #38
Hey, you are free to implement any possible solution. We are open to new ideas. We will review your PR and suggest changes.

[2021-04-18 04:48] arpit456jain commented on #52
@shankhanil007 i had received the points they are updated in leaderboard but its not reflecting in my profile section
And same for my 2nd PR😅

[2021-04-18 05:35] shankhanil007 commented on #52
Great. Work on your other assigned issues. Will suggest some more changes to the website soon.

[2021-04-18 06:13] arpit456jain opened #63 "Back to top button"
i button which will appear when we scroll down and just by clicking on it user will go to top automatically .

[2021-04-18 06:34] arpit456jain commented on #60
@shankhanil007 kindly review my PR

[2021-04-18 06:39] arpit456jain opened #64 "New and Better Contact section on a new page"
I would like to add New and Better Contact section on a new page current contact section is very dull

[2021-04-18 10:07] #54 closed

[2021-04-18 10:10] shankhanil007 commented on #63
Go ahead!

[2021-04-18 10:12] arpit456jain commented on #63
Already started working on it

[2021-04-18 10:13] shankhanil007 commented on #64
I am closing this issue at the moment because we cannot assign so many issues to one person at the same time. At first complete issue #63 and remind me to reopen this issue.

[2021-04-18 10:14] #60 closed

[2021-04-18 10:15] arpit456jain commented on #64
ok

[2021-04-18 10:33] arpit456jain commented on #63
@shankhanil007 kindly review my PR and add these same labels on PR

[2021-04-18 10:34] arpit456jain commented on #64
@shankhanil007 now i have a made a PR for my existing issue so you can reopen this

[2021-04-18 12:57] GrayFlash opened #67 "# Labelling the People from the audio."
The people who are speaking during the meet need to be labelled along with the speech part they say, such that we can efficiently prepare a MOM and it has a future scope of recreating the entire event.

The issue expects you to:
- Add Jupyter notebooks that use audio-based recognition and distinguish the number of distinct people in audio input.
- Adds a label to the identified person, and separat

[2021-04-18 15:48] #63 closed

[2021-04-18 16:47] arpit456jain opened #69 "Faq section"
I think there must be a faq section at last of index.html
above footer because there is not much information  about website and project so user may have some general question
an faq section also provide website a dynamic look
You can add suitable question and answer as per your website for it i can make a section for that

[2021-04-18 16:49] arpit456jain commented on #69
I had already opened a PR kindly review it and assign this to me if you think its needed

[2021-04-18 18:29] shankhanil007 commented on #69
I will assign level2 or level3 tag to this issue based on your PR

[2021-04-18 18:39] shankhanil007 commented on #69
For a FAQ section, you would need content in the form of questions and answers, right? Do you have plans for how you will get the content?
Since the importance of the website will be only after we have developed the core application of our project, I don't want to focus on giving you such content presently. If you find FAQ content will be more tedious, I would suggest changing it to "About Us" sec

[2021-04-19 05:51] arpit456jain commented on #69
1. I can add a faq section with dummy text some one will suerly raised the issue for the content or you can insert the content later . the faq section will look like this.

https://user-images.githubusercontent.com/55352601/115187683-5e0ece80-a101-11eb-9744-25aa69381c4e.mp4

2. or I can work on it later  after you  developed the core application of your project

[2021-04-19 05:53] arpit456jain commented on #64
@shankhanil007 kindly review my PR

[2021-04-19 11:37] #64 closed

[2021-04-19 11:42] shankhanil007 commented on #69
Yeah you can work on it later. But I can tell you now by when we will be completing all the core functionalitites.

[2021-04-19 11:43] #69 closed

[2021-04-19 12:00] arpit456jain opened #71 "changing footer color"
changing footer color

[2021-04-19 12:08] arpit456jain commented on #71
<img width="960" alt="ss" src="https://user-images.githubusercontent.com/55352601/115233846-063e8a80-a136-11eb-9bfc-46add1db632d.png">

@shankhanil007 is it ok?

[2021-04-19 12:14] arpit456jain commented on #71
<img width="960" alt="ss2" src="https://user-images.githubusercontent.com/55352601/115234578-d17f0300-a136-11eb-8a32-c67749994e1a.png">

or if you prefer dark color

[2021-04-19 12:15] shankhanil007 commented on #71
Dark one

[2021-04-19 12:16] arpit456jain commented on #71
ok making a PR

[2021-04-19 12:17] shankhanil007 commented on #46
Okay go ahead

[2021-04-19 15:37] arpit456jain commented on #58
@CMELAKKIA are you working on this issue ? If Yes then please keep in mind that i had already make the team section responsive and added a new contact section so don't forget to pull the latest code

If no please let me know i would like to do this ☺️

[2021-04-19 15:39] arpit456jain opened #73 "Preloader"
I would like to add a preloader on which edu help will be written in bold and large font and if you have any logo for your website then i can put it also there and it will disappear in 2 or 3 sec depending how much time the index.html page taking to load

[2021-04-19 15:39] arpit456jain commented on #73
@shankhanil007 kindly Assign me this issue and review my pr for footer background colour

[2021-04-19 15:41] arpit456jain opened #74 "Adding the preloader to home page"
I would like to add a preloader on which edu help will be written in bold and large font and it will disappear in 2 or 3 sec depending how much time the index.html page taking to load

[2021-04-19 15:41] #74 closed

[2021-04-19 15:42] arpit456jain commented on #74
Sorry by mistake 2 issue was created for same reason that's why I closed this

[2021-04-20 00:29] Oviyabalamurugan commented on #46
Have created a PR #79.

[2021-04-20 11:12] SnehaVeerakumar commented on #35
@shankhanil007  Kindly assign me. If assigned, PR will be made within 10 mins :)

[2021-04-20 11:13] SnehaVeerakumar commented on #35
I am sorry, just now I read user must be able to choose the area

[2021-04-20 11:21] SnehaVeerakumar commented on #35
I would like to get assigned and take 2 days.

[2021-04-20 11:53] SnehaVeerakumar commented on #35
@shankhanil007  View the output video and if that satisfies the project constrain, I would be happy to contribute to this issue
https://1drv.ms/v/s!AhQCqna6zNwBjip3f56Ys1-YviGe?e=dxYahj

Screen size can be altered

[2021-04-20 12:05] #71 closed

[2021-04-20 12:06] #58 closed

[2021-04-20 12:07] arpit456jain commented on #73
@shankhanil007 can you provide me  any logo or something?

[2021-04-20 12:09] shankhanil007 commented on #73
Use any good standard preloader.

[2021-04-20 12:13] arpit456jain commented on #73
@shankhanil007 the PR you merged for dark mode is not working properly please revert it

[2021-04-20 12:14] arpit456jain commented on #73
https://user-images.githubusercontent.com/55352601/115394023-fd19f000-a1ff-11eb-9eb9-a3c9d3d67ea8.mp4

[2021-04-20 12:16] shankhanil007 commented on #73
Thanks for pointing it out. I didn't notice that on refreshing it disappears. Will revert it shortly.

[2021-04-20 12:23] arpit456jain commented on #73
No problem . And i would love to add tha dark mode to website if it is level 3 issue

[2021-04-20 14:39] shankhanil007 opened #78 "Improving the Dark Mode"
Add a dark theme to the website which should persist even after refreshing the page. Any creative ideas for the dark theme are highly welcomed.

[2021-04-20 14:46] arpit456jain commented on #78
@shankhanil007
You just merge the PR for reverting the dark mode changes😅😅 i think there is no dark mode now

And you added the labels to the PR which your had removed because his feature is not working properly 😅

If you did this intentionally then its ok 👍

[2021-04-20 14:49] arpit456jain commented on #78
@shankhanil007 if you allow me i want to add dark mode in website before adding preloader because it will take time.

But i had already prepared the dark mode for website just have to make a PR

[2021-04-20 16:44] CMELAKKIA commented on #78
@shankhanil007   i would like to get assigned in this issue

[2021-04-20 16:55] arpit456jain commented on #78
@CMELAKKIA you had already made a PR and got level 3 labels on it  although your feature did not worked properly technically you don't deserve the points but you got and that's ok for me you did work and got point's

But i think
Now i should get a chance to add dark mode @shankhanil007 i had already done added this in my local system in a new branch just have to make a pr for that.

[2021-04-20 17:18] CMELAKKIA commented on #78
@arpit456jain  Please do not comment about my points that is not your concern. You have already commented about your work now wait till the mentors respond.

[2021-04-20 17:24] arpit456jain commented on #78
@CMELAKKIA i am not commenting on your points...
i am commenting on your code... first you should check you code properly before opening a PR you just add some css and js and maked the pr...

In this GSSoC'21 i have seen  like many of you who are adding **in-complete dark mode**.
Because they just copy the code from internet and paste it... they don't know the concept behind this...

[2021-04-20 17:45] arpit456jain commented on #78
https://user-images.githubusercontent.com/55352601/115441014-015d0200-a22e-11eb-9c5a-8090532d138a.mp4

This is how it should work

[2021-04-20 18:18] shankhanil007 commented on #78
Yeah, I forgot to remove this issue after merging the revert dark theme PR.

[2021-04-20 18:21] arpit456jain commented on #78
@shankhanil007 can i make the pr?

[2021-04-20 18:33] shankhanil007 commented on #78
Yes, I reassigned points to @CMELAKKIA later on for the work done by @CMELAKKIA, even if there was a bug.  I wouldn't have assigned points if I had noticed the bug in the first place before merging. Since this is an open-source project, bugs are quite common to occur and they can be rectified in subsequent issues and PRs.

I am not concerned about what contributors are doing in other GSSoC project

[2021-04-20 18:33] shankhanil007 commented on #78
@arpit456jain Since you commented first, I am assigning you this issue.

[2021-04-20 18:35] arpit456jain commented on #78
Thanks @shankhanil007 making the pr in 2 to 3 min

[2021-04-20 18:47] arpit456jain commented on #78
@shankhanil007 kindly review my PR

[2021-04-21 03:40] #78 closed

[2021-04-21 09:29] arpit456jain commented on #73
@shankhanil007 i have made 2 preloaded as sample have a look

https://user-images.githubusercontent.com/55352601/115531171-18ddce80-a2b2-11eb-89c1-7383d2ff3ddc.mp4

[2021-04-21 09:36] arpit456jain opened #81 "New And Better Our Teams Section"
I would like to add a new and better "Our teams section"

[2021-04-21 14:25] shankhanil007 commented on #73
I see that the 1st pre-loader is working very slowly. Is the EduHelp logo getting hanged?
The 2nd is working smoothly though.

[2021-04-21 14:34] arpit456jain commented on #73
no its fine may be my system was getting hanged.
take a look now

https://user-images.githubusercontent.com/55352601/115571617-cb2a8b80-a2dc-11eb-8bb9-24595f51797c.mp4

@shankhanil007

[2021-04-21 17:50] arpit456jain commented on #81
@shankhanil007 kindly Assign me this issue i have a very cool our team section for this website
You would surely love it

[2021-04-21 17:51] arpit456jain commented on #73
@shankhanil007 which preloader should i add to website? 1st one or 2nd one

[2021-04-21 18:39] shankhanil007 commented on #73
Okay cool! Go ahead with the EduHelp logo one.

[2021-04-21 18:39] shankhanil007 commented on #81
Noice!

[2021-04-22 09:10] arpit456jain commented on #73
@shankhanil007 kindly review my PR

[2021-04-22 12:18] #73 closed

[2021-04-22 15:52] arpit456jain commented on #81
@shankhanil007 kindly review my PR and add same labels to it

[2021-04-23 05:01] arpit456jain opened #84 "Adding a wave below our team and above footer"
Adding a wave below our team and above footer
It will look very nice

[2021-04-23 05:01] arpit456jain commented on #84
@shankhanil007 please review my open pr and assign me this

[2021-04-23 05:51] #81 closed

[2021-04-23 08:17] arpit456jain commented on #84
https://user-images.githubusercontent.com/55352601/115841314-4a81a180-a43a-11eb-9a9b-9e94020a4915.mp4

@shankhanil007 how's  this .??

any change in color or is it fine ??

[2021-04-23 18:12] #84 closed

[2021-04-23 18:46] arpit456jain commented on #37
@shankhanil007 is there anything i can do in this issue

[2021-04-24 04:19] arpit456jain opened #86 "You Tube video embedded on website"
Currently there is an image on clicking that image we redirect to YouTube , but i would like to embed that  video on home page itself .
user can watch the video without leaving website

[2021-04-24 04:19] arpit456jain commented on #86
@shankhanil007 kindly assign me this issue

[2021-04-24 05:07] arpit456jain commented on #86
It is looking like this

https://user-images.githubusercontent.com/55352601/115947984-fb467a00-a4e8-11eb-8076-e178e973f946.mp4

[2021-04-24 12:29] arpit456jain opened #87 "Improving About us Section"
I would like to give a try for Improving About us Section

[2021-04-25 06:11] shankhanil007 commented on #86
Don't keep the video display so wide. Keep it medium-sized, center-aligned  with spacing on the left and right sides

[2021-04-25 06:12] shankhanil007 commented on #37
At present not required

[2021-04-25 06:12] #37 closed

[2021-04-25 08:02] arpit456jain commented on #86
ok

[2021-04-25 14:27] arpit456jain commented on #86
@shankhanil007 kindly review my PR

[2021-04-26 04:49] arpit456jain commented on #87
@shankhanil007 kindly assign me this issue and review my PR

[2021-04-27 04:00] #86 closed

[2021-04-27 10:38] arpit456jain commented on #87
https://user-images.githubusercontent.com/55352601/116228323-c2b9d100-a772-11eb-9c8b-adc7f4c6e29f.mp4

@shankhanil007  may i make a PR for this

[2021-04-27 10:44] arpit456jain commented on #87
data , text can be edited as per your own convenience

[2021-04-27 18:17] shankhanil007 commented on #87
Go ahead

[2021-04-28 03:54] arpit456jain commented on #87
@shankhanil007 kindly review my PR

[2021-04-28 07:46] arpit456jain opened #90 "Improving Footer"
I want to give it a try to improve it

[2021-04-29 11:06] arpit456jain commented on #90
@shankhanil007 kindly Assign me this issue and review my opened PR for about section

[2021-04-29 15:57] #87 closed

[2021-05-02 10:28] arpit456jain commented on #90
<img width="960" alt="footer in Desk top" src="https://user-images.githubusercontent.com/55352601/116810153-aeede080-ab5f-11eb-8e4e-2ca9f957c64b.png">

@shankhanil007 is it fine may i make PR for this

[2021-05-02 10:29] arpit456jain commented on #90
And Honestly Its take a lot of time and hard-work

[2021-05-02 17:48] #90 closed

[2021-05-11 08:55] subhangi2731 commented on #67
can you assign me this issue ? @GrayFlash

[2021-05-11 08:59] subhangi2731 commented on #39
please assign me this @shankhanil007

[2021-05-12 05:41] shankhanil007 commented on #39
Sure! Go Ahead

[2021-05-12 06:00] ainy-123 commented on #35
I am GSSoC'21 participant and I want to work on this issue. As it has the tag "open for all" ,can I make the raise the PR even without being assigned?

If not, kindly assign me this issue. @SnehaVeerakumar @shankhanil007

[2021-05-12 06:04] shankhanil007 commented on #35
Sure! Go ahead

[2021-05-12 06:43] GrayFlash commented on #67
@subhangi2731 you can go ahead, and please inform us about how you are going to tackle this issue.

[2021-05-12 06:45] GrayFlash commented on #67
@subhangi2731  I am sorry but I noticed you have already been assigned another issue, You may move ahead with other one and notify me once you want to start here.

[2021-05-12 07:33] subhangi2731 commented on #39
@shankhanil007 can I use nodejs with electron or react with electron to create this desktop application??

[2021-05-13 10:58] shankhanil007 commented on #39
You can choose whichever one you are more comfortable with. Both are fine for me.

[2021-05-18 02:15] ainy-123 commented on #36
I am GSSoC'21 participant. I want to work on this issue. As ,it is open for all, can I work on this issue without being assigned ?
If not, will you please assign this to me? @shankhanil007

[2021-05-18 04:53] shankhanil007 commented on #36
As a GSSoC participant you need to be assigned. Go ahead!

[2021-05-18 04:54] #35 closed

[2021-05-18 04:54] #46 closed

[2021-05-18 08:47] ainy-123 commented on #36
Thanks for assigning !!

[2021-05-29 13:29] ainy-123 commented on #38
I want to work on this issue under GSSoC'21.
Kindly assign this to me . @shankhanil007

[2021-05-30 04:22] shankhanil007 commented on #38
Okay!

[2021-05-30 04:25] #36 closed

[2021-05-30 10:56] ainy-123 opened #97 "Text to speech conversion."
In continuation to the speech to text summarizer, we can implement a system ,which will be able to convert the summarized text into audio .
It will be easy to get the summary of whole lecture/discussion in an audio form .

So,I want to implement a text to speech conversion system.

I want to work on this issue under GSSoC'21.
Kindly assign me the same. @shankhanil007

[2021-05-30 17:53] #38 closed

[2021-05-31 00:45] ainy-123 opened #100 "Implement Multilingual Translation System"
Want to implement the multilingual translation ,so that students with different languages be benefitted from a single lecture in any particular language.
I will be using MBart model, which will be capable of translation of 50 different languages into 50 different languages.

I want to work on this issue, Kindly assign me the same. @shankhanil007

[2021-05-31 01:04] ainy-123 opened #101 "Generate whole lecture with a single sentence."
Want to implement a system similar to generating a blog post with a single sentence, which will enable the learners to get an idea about the lecture by listening one sentence.

I want to work on this issue under GSSoC'21 . Kindly assign me the same. @shankhanil007

[2021-05-31 03:10] shankhanil007 commented on #97
Good work!

[2021-05-31 03:11] #97 closed

[2021-05-31 03:11] shankhanil007 commented on #100
Go ahead! Do remember GSSoC will only consider the PRs made by today for points.

[2021-05-31 03:14] shankhanil007 commented on #101
Quite interesting! Go ahead.

[2021-05-31 04:04] ainy-123 opened #102 "Implement summarizer"
Want to implement a summarizer, which will be able to summarize the content of any lecture pdf in given limit of words.
This way, students will be able to get the summary of whole lecture depending upon the time they have to devote for the study.

I want to work on this issue under GSSoC'21 . Kindly assign me the same . @shankhanil007

[2021-05-31 06:46] #100 closed

[2021-05-31 06:46] #101 closed

[2021-05-31 10:33] ainy-123 opened #106 "Implement a system to predict answers of fill in the blanks questions in the class-test"
Want to deploy fill mask pipeline of transformers from hugging face to implement this.

I want to work on this issue under GSSoC'21.
Kindly assign me the same . @shankhanil007

[2021-05-31 14:38] #102 closed

[2021-05-31 15:07] ainy-123 opened #107 "Implement Answer Predictor System"
Want to deploy Question-Answering pipeline to predict the answer for a question ,when the context is given.
This will be very useful for this project ,as It will make the examination process quite easy.

I want to work on this issue under GSSoC'21.Kindly assign this to me. @shankhanil007

[2021-05-31 15:36] #106 closed

[2021-05-31 15:38] #107 closed

[2021-05-31 15:42] ainy-123 opened #110 "Implement a Subject Classifier based on a sentence."
Want to deploy Zero shot classifier to predict the subject ,to which any asked question belongs to.
It will be useful for this project. As ,It will reduce the time  to search for the answers in the book ,if any question is asked.
It will correctly the topic to which any particular query belongs to. So, Students can utilise their time efficiently and can cover more subjects and topics in less time.

[2021-05-31 16:48] ainy-123 opened #112 "Generate lecture using GPT-Neo"
Want to deploy text-generation pipeline of transformers from hugging face with pre-trained model as GPT-Neo to generate the whole lecture on any topic.
This model is having a good prediction accuracy.

I want to work on this issue under GSSoC'21.
Kindly assign me the same . @shankhanil007

[2021-05-31 17:41] #112 closed

[2021-05-31 17:41] #110 closed